.faq-container {
  margin: 50px 7% 50px 7%;
}

.faq-title {
  font-weight: 500;
  color: #ffffff;
  font-size: 0.8rem;
  margin-bottom: 10px;
  border-radius: 30px;
  background: linear-gradient(to right, #91AEF3, #C057BB);
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.faq-container h2 {
  font-size: 1.5rem;
}

.faq-elements {
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}
  