.card-container {
  position: relative;
}

.note {
  padding:  5px 5px 5px 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;  
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  width: 100%; 
  box-sizing: border-box; 
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1); 
}

.text-left-align {
  text-align: left;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  background: linear-gradient(to right, #91AEF3, #A48AF4);
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 1px 10px;
  background-color: #f9f9f9;
  font-size: 16px;
  white-space: pre-line;
}

.label {
  color: #757575; 
}

.dynamic-data {
  color: #1E1E1E; 
}

.divider {
  border-top: 1px solid #e0e0e0; 
  margin: 1px 0;
}
.email-background {
  background-color: #f0f0f0; 
  padding: 0.2rem 0.5rem; 
  border-radius: 4px; 
}

