.explainer-main {
    margin-top: 50px;
}

.explainer-component {
    margin: 0px 7%;
}

.div-block-explainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.div-block-explainer-arrow {
    flex: 1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.div-block-explainer-photo {
    flex: 1;
    display: block;
    justify-content: center;
    align-items: center;
}

.explainer-photo-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 0.8rem;
    margin-bottom: 10px;
    border-radius: 30px;
    background: linear-gradient(to right, #91AEF3, #C057BB);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}

p {
    padding: 10px 20px;
}

.div-block-explainer-photo img {
    height: auto;
    width: 100%;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    justify-content: center;
    gap: 10px;
}

.first-item {
    justify-self: end;
    grid-column: 1;
    grid-row: 1;
}

.second-item {
    grid-column: 2;
    grid-row: 2;
}

.arrow-image {

}

@media (max-width: 768px) {
    .div-block-explainer {
        flex-direction: column;
        align-items: flex-start;
    }
}
