.div-block-explainer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-block-explainer-text {
    flex: 1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.div-block-explainer-photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div-block-explainer-photo img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .div-block-explainer {
        flex-direction: column;
        align-items: flex-start;
    }
}
