.contact-form {
    z-index: 3000;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--baige);
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--light-gray);
    box-shadow: var(--box-shadow);
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
}

.form-heading {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.contact-form .container .form-input-wrapper {
    width: 100%;
}

.contact-form .form-controls {
    width: 100%;
    justify-content: space-between;
}

.form-controls {
    margin-top: 1rem;
    width: 100%;
}

.form-controls .cta-btn {
    flex-grow: 1;
}

.contact-form select {
    border: 1.5px solid var(--light-gray);
    border-radius: 0.5rem;
    text-align: left;
    text-align-last: left;
    padding: 0.75rem 1rem;
    align-self: stretch;
}

.contact-form select:hover {
    color: var(--black);
    background-color: var(--white);
    border-image: var(--gradient);
    border-image-slice: 1;
}

#privacy-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#privacy-checkbox a {
    margin: 0;
}

#privacy-checkbox input {
    width: min-content;
    height: fit-content;
}

.contact-form .progress-bar {
    width: 75%;
    margin: 0;
}

@media (max-width: 1024px) {
   .contact-form {
       width: 75%;
   }
}

@media (max-width: 768px) {
    .contact-form {
        width: 90%;
    }
}

@media (max-width: 430px) {
    .contact-form {
        padding: 1rem;
    }

    .form-heading {
        font-size: 1.5rem;
    }

    .contact-form .step .container {
       flex-direction: column;
    }
}