#cookie-banner {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    left: auto;
    top: auto;
    background-color: var(--white);
    max-width: 700px;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    z-index: 1000;
}

#cookie-banner > .container {
    flex-direction: row-reverse;
}

#accept-cookies {
    border-color: green;
    color: green;
}

#accept-cookies:hover {
    background: green;
    color: var(--white);
}

@media (max-width: 1024px) {
    #cookie-banner {
        max-width: none;
    }
}