#demo {
    padding: 0;
}

.email-selector {
    padding: 2rem;
    background-color: var(--white);
    border-radius: var(--border-radius);
    margin: 0 10%;
}

.email-selector .section-heading {
    padding-top: 0;
}

.email-selector a {
    text-decoration: underline;
}

.email-form {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

.hint {
    align-self: flex-end;
    text-align: right;
    margin: 0;
}

.hint.text-align-left {
    grid-column: 1;
}

#step-0 {
    justify-content: center;
    align-items: center;
}

#step-0 .step-arrow {
    margin: 0;
}

#step-0 .cta-btn {
    width: 50%;
}

.email-selector .progress-bar-step {
    background-color: var(--light-gray);
}

@media (max-width: 1024px) {
    .email-selector {
        margin: 0 10%;
    }

    .email-form {
        grid-template-columns: 1fr 0.75fr;
    }

    .hint {
        grid-column: span 2 !important;
        text-align: left !important;
    }
}

@media (max-width: 768px) {
    .email-selector {
        margin: 0;
    }
}

@media (max-width: 430px) {
    .email-selector {
        padding: 0;
        background-color: transparent;
    }

    .email-selector .progress-bar-step {
        background-color: var(--white);
    }

    .email-form {
        display: flex;
        flex-direction: column;
    }

    #step-0 .cta-btn {
        width: 100%;
    }
}



