.email-selector {
    padding: 2rem;
    background-color: var(--white);
    border-radius: var(--border-radius);
    margin: 0 10%;
}

.email-selector .section-heading {
    padding-top: 0;
}

.email-selector a {
    text-decoration: underline;
}

.email-form {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--black);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

.step {
    display: none;
    grid-row: span 2;
    gap: 1rem;
}

.step .container {
    align-items: center;
}

.step h5 {
    font-size: 1.25rem;
    margin: 0;
}

.step button,
.step input,
.step select,
.step .btn,
.step {
    width: 100%;
}

.step .cta-btn {
    width: 50%;
    margin: auto;
}

#step-0 {
    grid-row: span 2;
    grid-column: span 2;
}

.step.active {
    display: flex;
    flex-direction: column;
}

.form-controls {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    gap: 1rem;
    grid-row: 1;
    grid-column: 2;
}

.step-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 1.25rem;
}

.step-btn:hover {
    background-color: transparent;
    color: var(--purple);
}

.step-btn:disabled {
    color: var(--black);
}

.step-btn:disabled .gradient-text {
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: var(--black);
    color: var(--black);
}

.step-arrow {
    width: 50px;
}

#hint {
    margin: 0;
    align-self: center;
    text-align: right;
}

@media (max-width: 1024px) {
    .email-selector {
        margin: 0 10%;
    }

    .email-form {
        grid-template-columns: 1fr 0.5fr;
    }

    #hint {
        grid-column: span 2;
        text-align: left;
    }

    .step .cta-btn {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .email-selector {
        margin: 0;
    }
}

@media (max-width: 430px) {
    .email-selector {
        padding: 0;
        background-color: transparent;
    }

    .email-form {
        display: flex;
        flex-direction: column;
    }

    .step button,
    .step input,
    .step select,
    .step .btn,
    .step {
        width: 100%;
    }

    .form-controls {
        width: 100%;
        justify-content: space-between;
    }

    .step-arrow {
        width: auto;
        height: 50px;
        margin-right: 10%;
    }
}



