.FAQ-container {
    margin: 10%;
    margin-top: calc(10% + 10vh);
    padding: 2rem;
    background-color: var(--white);
    border-radius: var(--border-radius);
}

@media (max-width: 768px) {
    .FAQ-container {
        margin: 0;
    }
}