:root {
    --white: #FFFFFF;
    --light-gray: #f4f4f4;
    --black: #000000;
    --purple: #C057BB;
    --red: #C24454;
    --gradient: linear-gradient(to right, var(--purple), var(--red));
    --light-gradient: linear-gradient(to top right,  rgba(192, 87, 187, 0.3),rgba(194, 68, 84, 0.1));
    --very-light-gradient: linear-gradient(to top right,  rgba(192, 87, 187, 0.1), var(--white));
    --border-radius: 0.5rem;
    --box-shadow: rgba(17, 12, 46, 0.15) 0px 12px 48px 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    line-height: 150%;
    color: var(--black);
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    background-color: var(--light-gray);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 125%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
}

.section-heading {
    padding-top: 5vh;
    font-size: 1.75rem;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: var(--purple);
    text-decoration: underline;
}

.container {
    width: 100%;
    display: flex;
    gap: 1rem;
}

section {
    width: 100%;
    max-width: 2048px;
    padding: 0 5%;
    margin: 0 auto 10vh auto;
}

.no-margin-bottom {
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

button, input, select, .btn {
    margin: 0;
    padding: 0.75rem 2rem;
    border: 3px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    z-index: 10;
}

button:hover, .btn:hover, select:hover {
    text-decoration: none;
    background: var(--black);
    color: var(--white);
    border-color: var(--black);
}

button:disabled, .btn:disabled, input:disabled, select:disabled {
    opacity: 0.5;
    cursor: auto;
}

button:disabled:hover, .btn:disabled:hover, input:disabled:hover, select:disabled:hover {
    background-color: var(--white);
    color: var(--black);
}

.cta-btn {
    border-image: var(--gradient);
    border-image-slice: 1;
}

.cta-btn:hover {
    background: var(--gradient);
}

.cta-btn:hover .gradient-text {
    background: none;
    color: var(--white);
    -webkit-text-fill-color: var(--white);
    -webkit-background-clip: initial;
}

.btn-container {
    display: flex;
    gap: 1rem;
}

select {
    appearance: none;
    cursor: pointer;
}

.gradient-text {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hidden {
    display: none!important;
}

.Nx1 {
    grid-template-columns: 1fr;
}

.Nx3 {
    grid-template-columns: repeat(3, 1fr);
}

.Nx8 {
    grid-template-columns: repeat(8, 1fr);
}