:root {
    --white: #FFFFFF;
    --black: #000000;
    --light-blue: #4B7FFF;
    --dark-blue: #3D6BDA;
    --light-blue-rgb: 75, 127, 255;
    --dark-blue-rgb: 61, 107, 218;
    --dark-gray: #454655;
    --light-gray: #EAEAEA;
    --baige: #F6F6F6;
    --gradient: linear-gradient(to bottom right, var(--light-blue), var(--dark-blue));
    --gradient-hover: linear-gradient(to bottom right, rgba(var(--light-blue-rgb), 0.9), rgba(var(--dark-blue-rgb), 0.9));
    --gradient-bg: linear-gradient(to bottom right, rgba(var(--light-blue-rgb), 0.9), rgba(var(--dark-blue-rgb), 0.6));
    --border-radius: 0.5rem;
    --box-shadow: rgba(17, 12, 46, 0.15) 0px 12px 48px 0px;
}

@font-face {
    font-family: 'Inter';
    src: url('src/assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('src/assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('src/assets/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    line-height: 150%;
    color: var(--dark-gray);
    font-family: Inter, sans-serif;
    font-size: 1rem;
    background-color: var(--baige);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0 auto 1rem auto;
    line-height: 125%;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 1.1rem;
    font-weight: normal;
}

h4 {
    font-size: 1.5rem;
    font-weight: normal;
}

.section-heading {
    padding-top: 5vh;
    font-size: 1.75rem;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: var(--light-blue);
    text-decoration: underline;
}

.container {
    width: 100%;
    display: flex;
    gap: 1rem;
}

section {
    background: var(--baige);
    width: 100%;
    max-width: 2048px;
    padding: 0 5%;
    margin: 0 auto 10vh auto;
}

.no-margin-bottom {
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.section-heading {
  text-align: center;
}

button, .btn {
    margin: 0;
    padding: 0.75rem 2rem;
    border: 1.5px solid var(--light-gray);
    border-radius: 0.5rem;
    background-color: var(--white);
    color: var(--dark-gray);
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    z-index: 10;
}

button:hover, .btn:hover {
    text-decoration: none;
    background: var(--white);
    color: var(--light-blue);
    border-color: var(--gradient);
}

.cta-btn {
    color: var(--white);
    background: var(--gradient);
    border: none;
    border-radius: 0.5rem;
}

.cta-btn:hover {
    color: var(--white);
    background: var(--gradient-hover);
}

.btn-container {
    display: flex;
    gap: 1rem;
}

.button-blue {
    color: var(--white);
    color: var(--white);
}

.gradient-text {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hidden {
    display: none!important;
}

.Nx1 {
    display: grid;
    grid-template-columns: 1fr;
}

.Nx2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Nx3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Nx8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

input {
    border-radius: var(--border-radius);
    border: 3px solid var(--black);
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--white);
    width: min-content;
    margin: 1rem 0;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.reversed {
    display: flex;
    flex-direction: row-reverse;
}

.overlay {
    z-index: 2000;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.active {
    display: flex;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    .Nx1 {
        grid-template-columns: 1fr;
    }

    .Nx2 {
        grid-template-columns: 1fr;
    }

    .Nx3 {
        grid-template-columns: 1fr;
    }

    .Nx8 {
        grid-template-columns: 1fr;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .reversed {
        display: flex;
        flex-direction: column;
    }
}