.step {
    display: none;
    grid-row: span 2;
    gap: 1rem;
}

.step .container {
    align-items: center;
}

.step h5 {
    font-size: 1.25rem;
    margin: 0;
}

.step button,
.step input,
.step select,
.step .btn,
.step {
    width: 100%;
}

#step-0 {
    grid-row: span 2;
    grid-column: span 2;
}

.step.active {
    display: flex;
    flex-direction: column;
}

.form-controls {
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    align-items: center;
    gap: 1rem;
    grid-row: 1;
    grid-column: 2;
}

.step-btn {
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 1.25rem;
}

.step-btn:hover {
    background-color: transparent;
    color: var(--purple);
}

.step-btn:disabled {
    color: var(--black);
}

.step-btn:disabled:hover {
    background-color: transparent;
}

.step-btn:disabled .gradient-text {
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: var(--black);
    color: var(--black);
}

.step-arrow {
    width: 50px;
}

.progress-bar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    height: 0.5rem;
    margin: 2rem 0 1rem 0;
}

.progress-bar-step {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease-in-out;
}

.progress-bar-step.active {
    background-color: var(--purple);
}

.message {
    text-align: center;
}

@media (max-width: 430px) {
    .step button,
    .step input,
    .step select,
    .step .btn,
    .step {
        width: 100%;
    }

    .form-controls {
        width: 100%;
        justify-content: space-between;
    }

    .step-arrow {
        width: auto;
        height: 50px;
        margin-right: 10%;
    }
}

