.video-container {
    display: flex;
    justify-content: center;
    height: min-content;
    position: relative;
    cursor: pointer;
    margin: auto 0;
}

#video-text-overlay {
    text-align: center;
    padding: 33% 5%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    color: var(--white);
}

#youtube-video {
    border-radius: 1rem;
    border: none;
    outline: none;
    aspect-ratio: 16 / 9;
    width: 100% !important;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

@media (max-width: 430px) {
    #video-text-overlay {
        padding: 20% 5%;
    }
}