.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .header-logo img {
    height: 40px; /* Größe des Logos anpassen */
  }
  
  .book-button {
    padding: 0.6rem 0.8rem; 
    margin: 0 0;
    border-radius: 10px;
    background: linear-gradient(to right, #a989fb, #cf4fc0, #e07552);
    outline: none;
    border: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: 1800;
    font-size: large;
} 
  
 