.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0px 7%
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo .logo {
  height: 40px; 
  margin-right: 10px; 
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #333; 
  font-family: 'Montserrat';
}

.book-button {
  padding: 0.6rem 20px;
  border-radius: 10px;
  background: linear-gradient(to right, #a989fb, #cf4fc0, #e07552);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.book-button:hover {
  background-color: #d06bb0; 
  transform: scale(1.05); 
}

.book-button:active {
  transform: scale(0.95); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.book-button.clicked {
  background-color: #a989fb; 
  transform: scale(1);
  box-shadow: none; 
  transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
.book-button {
  display: none; 
}

.header {
  justify-content: center; 
}

.header-logo {
  display: flex;
  justify-content: center; 
  width: 100%;
}
}
