.faq-item {
  font-family: 'Montserrat', sans-serif;
}

.faq-question {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0;
}

.faq-question p {
  margin: 15px 0 15px 0;
  padding: 0;
}

.faq-answer {
  font-family: 'Montserrat', sans-serif;
  color: #808080;
  font-size: 0.7rem;
}

.faq-answer p {
  margin: 0;
  padding: 0 0 10px 10px;
}

.arrow {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease; 
}

.faq-question-answer-div {
  border-bottom: #F0F0F0 solid 1px;
  margin-left: 20px;
  margin-right: 20px;
}