.margin-center {
  margin: 0px 7%
}

html {
  font-size: 16px;
}

.main-container {
  display: grid;
  gap: 40px;
  margin-top: 20px;
}

.cta-container {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.video-container,
.card-container {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.video-container {
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
  max-width: 50vw;
}



#video {
  width: 100%;
  height: 100%;
  display: block;
}

h1 {
  text-align: left;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 30px;
}

#cardsWithArrowImage {
  width: 100%; 
  height: auto; 
  max-width: none; 
}

ul {
  font-size: 14px;
  list-style-position: outside;
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 50px;
}

ul li {
  text-align: left;
  margin-bottom: 10px;
}

.arrow-container {
  display: flex;
  justify-content: center; 
}

.arrow-image {
  width: 150px; 
  height: auto;
}


.strong {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;  
  gap: 20px;  
  margin-top: 20px;  
}


.button-container {
  display: flex;
  justify-content: space-between;  
  gap: 10px;  
  margin-top: 20px;
}

.call-to-action {
  padding: 0.6rem 20px;
  border-radius: 10px;
  background: linear-gradient(to right, #C057BB, #C24454);
  outline: none;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 60%;  
}

.learn-more-button {
  padding: 0.6rem 20px;
  border-radius: 10px;
  background: #C7C7C7;
  outline: none;
  border: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: 40%;  
}
.button-effect {
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.button-effect:hover {
  transform: scale(1.05);
}

.button-effect:active {
  transform: scale(0.95);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button-effect.clicked {
  background-color: #a989fb;
  transform: scale(1);
  box-shadow: none;
  transition: background-color 0.3s ease;
}



.small-screen-call-to-action {
  display: none; 
}

.small-screen-learn-more {
  display: none; 
}

@media (min-width:1400px) {
  html {
    font-size: 22px;
  }
}

@media (max-width: 1024px) {
  .video-container {
    width: 100%;
    margin: auto;
  }
  .call-to-action {
    display: none; 
  }
  .arrow-image {
    display: none;
  }
  .learn-more-button {
    display: none;
  }

  .small-screen-call-to-action {
    display: block; 
    padding: 0.6rem 0; 
    margin: 20px auto; 
    border-radius: 10px;
    background: linear-gradient(to right, #C057BB, #C24454);
    outline: none;
    border: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: 1800;
    font-size: 1.5rem;
    text-align: center;
    width: 100%; 
    max-width: 500px; 
  }

  .small-screen-learn-more {
    display: block; 
    padding: 0.6rem 0; 
    margin: 20px auto;
    border-radius: 10px;
    background: #C7C7C7;
    outline: none;
    border: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: 1800;
    font-size: 1.5rem;
    text-align: center;
    width: 100%; 
    max-width: 500px;
  }

  .main-container {
      flex-direction: column;
  }
  .cta-container, .video-container, .card-container {
    margin-bottom: 20px; 
  }
}

.main-container {
  display: flex;
}