.margin-center {
  margin: 0px 7%
}
.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Zwei gleich große Spalten */
  gap: 20px; /* Abstand zwischen den Spalten */
  padding: 20px;
}

.cta-container,
.video-container,
.card-container {
  text-align: center;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

/* Für große Bildschirme: Zwei Container nebeneinander */
@media (min-width: 768px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr); /* Zwei gleich große Spalten */
  }
}

h1 {
  text-align: left; /* Stellt sicher, dass der Text links ausgerichtet bleibt */ 
}

#cardsWithArrowImage {
  width: 100%; /* Bild nimmt die gesamte Fensterbreite ein */
  height: auto; /* Beibehaltung des Seitenverhältnisses */
  max-width: none; /* Keine maximale Breitenbegrenzung */
}

ul {
  list-style-position: inside; /* Macht sicher, dass die Punkte innerhalb des Containers linksbündig sind */
  padding-left: 0; /* Entfernt unnötigen Einzug */
  margin: 0;
}

ul li {
  text-align: left; /* Stellt sicher, dass der Text links ausgerichtet bleibt */
  margin-bottom: 10px; /* Fügt etwas Abstand zwischen den Listenelementen hinzu */
}

ul li .strong {
  font-weight: bold; /* Falls zusätzlich gewünscht */
}


/* Für kleine Bildschirme: Ein Container pro Zeile */
@media (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr; /* Ein Container pro Zeile */
  }
  .cta-container, .video-container, .card-container {
    margin-bottom: 20px; /* Abstand zwischen den Containern */
  }
}

.backgroundcolor-grey  {
  background-color: #f7f8fa;
}

.arrow-container {
  display: flex;
  justify-content: center; /* Zentriert das Bild horizontal */
  margin-top: 20px; /* Abstand nach oben */
}

.arrow-image {
  width: 150px; /* Größe des Bildes anpassen */
  height: auto;
}


.strong {
  font-weight: bold;
}

iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border-radius: 8px;
}

.call-to-action {
  padding: 0.6rem 80px;
  margin-top: 10px;
  border-radius: 10px;
  background: linear-gradient(to right, #a989fb, #cf4fc0, #e07552);
  outline: none;
  border: none;
  color: white;
  font-family: 'Montserrat';
  font-weight: 1800;
  font-size: large;
}

/* Standard (large screens) - hide the new button */
.small-screen-call-to-action {
  display: none; /* Hide the button by default */
}

/* Media Query for small screens */
@media (max-width: 768px) {
  .call-to-action {
    display: none; /* Hide the original button on small screens */
  }

  .small-screen-call-to-action {
    display: block; /* Show the new button on small screens */
    padding: 0.6rem 80px;
    margin-top: 20px; /* Add space between video and button */
    border-radius: 10px;
    background: linear-gradient(to right, #a989fb, #cf4fc0, #e07552);
    outline: none;
    border: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: 1800;
    font-size: large;
  }
}
