.margin-center {
  margin: 0px 7%
}
.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  padding: 20px;
}

.cta-container,
.video-container,
.card-container {
  text-align: center;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: left; 
}

#cardsWithArrowImage {
  width: 100%; 
  height: auto; 
  max-width: none; 
}

ul {
  list-style-position: inside; 
  padding-left: 0; 
  margin: 0;
}

ul li {
  text-align: left; 
  margin-bottom: 10px; 
}

ul li .strong {
  font-weight: bold; 
}




.backgroundcolor-grey  {
  background-color: #f7f8fa;
}

.arrow-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.arrow-image {
  width: 150px; 
  height: auto;
}


.strong {
  font-weight: bold;
}

iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
  border-radius: 8px;
}

.call-to-action {
  padding: 0.6rem 80px;
  margin-top: 10px;
  border-radius: 10px;
  background: linear-gradient(to right, #a989fb, #cf4fc0, #e07552);
  outline: none;
  border: none;
  color: white;
  font-family: 'Montserrat';
  font-weight: 1800;
  font-size: large;
}


.small-screen-call-to-action {
  display: none; 
}


@media (max-width: 768px) {
  .call-to-action {
    display: none; 
  }
  .arrow-image {
    display: none;
  }

  .small-screen-call-to-action {
    display: block; 
    padding: 0.6rem 80px;
    margin-top: 20px; 
    border-radius: 10px;
    background: linear-gradient(to right, #a989fb, #cf4fc0, #e07552);
    outline: none;
    border: none;
    color: white;
    font-family: 'Montserrat';
    font-weight: 1800;
    font-size: large;
  }
  .main-container {
    grid-template-columns: 1fr; 
  }
  .cta-container, .video-container, .card-container {
    margin-bottom: 20px; 
  }
}

@media (min-width: 768px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}